# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
dist/
build/
.cache/
.pytest_cache/
.coverage
.coverage.*

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Qt/PySide artifacts (if any)
*.qmlc
*.jsc
